html,
body {
  height: 100%;
  background-image: url("../images/yellowV.png");

  background-repeat: no-repeat;

  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.wrap::after {
  content: "";
  display: block;
  height: 50px; /* Set same as footer's height */
}

.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}
a.choose {
  font-size: 20px !important;
  text-align: center;
  color: white;
}
a.choose:hover {
  text-decoration: none;
}
div.vyber ul li {
  color: white;
  padding-top: 80px;
  font-size: 30px;
}

ul {
  list-style-type: none !important;
}
div.tile {
  border-radius: 4px;
  background-color: white;
  height: 200px;
  margin: 20px 10px 20px 25px;
  font-size: 20px;
  width: 252px;
  max-width: 252px;
  padding: 5px 20px 25px 20px;
  display: inline-block;
}
div.tile:hover {
  -webkit-box-shadow: 0px 1px 20px 7px grey;
  -moz-box-shadow: 0px 1px 20px 7px grey;
  box-shadow: 0px 1px 20px 7px grey;
}
div.satisfaction label:not(.control-label) {
  font-size: 30px;
  margin-left: 30px;
}


.page-content {
  border-radius: 4px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  background-color: white;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.my-nav {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  background-color: white;
  border-color: white;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: black;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: black;
  background-color: white;
}

.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: black;
}

.navbar-inverse .navbar-nav > .active > a {
  color: black;
  background-color: white;
}
.my-tile {
  color: white;
  padding-top: 80px;
  font-size: 30px;

  list-style: none;
  text-align: center;
}
.vyber {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.active {
  border-bottom: solid;
}
.site-index {
  min-height: 750px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10%; /* Location of the box */
  padding-right: 10%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.close {
  position: absolute;
  top: 50px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.centerThis {
  margin: auto;
  text-align: center;
}
.mySlides {
  display: none;
}
#myImg:hover {
  opacity: 0.7;
}
.myImg:hover {
    opacity: 0.7;
  }
.form-group{
  padding-left: 50px;
}
.red{
  color:white !important;
  background-color: red !important;

}
tr.red td > a{
  color:white !important;
}
